<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid container">
    <!-- <b class="navbar-brand" href="/">Calculadora Imobiliária</b> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <form class="d-flex navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home')}}">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contato')}}">Contato</a>
        </li>
      </form>
    </div>
  </div>
</nav>